* {
	margin: 0;
	padding: 150;
	box-sizing: border-box;
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 100%;
	max-width: 1000px;
	min-height: 725px;
	background-color: rgb(245, 239, 231);
	margin: 10px;
	display: grid;
	grid-template-columns: 5fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(126, 150, 500);
	padding: 60px;

}
.right {
	position: initial;
	background-color: rgb(200, 202, 300);
	padding: 80px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 50px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
